body {
	text-align: center;
}
#welcome {
	/*padding-top: 800px;*/
	overflow: hidden;
	height: 641.4567891px;
	background: linear-gradient(rgb(128, 255, 255), rgb(128, 255, 0));
	margin: 0px;
}
.profile {
	width: 100px;
	border-radius: 50px;
}
.line {
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 10px;
}
p {
	text-align: center;
	max-width: 450px;
	margin: 25px auto;
	font-size: 18px;
	line-height: 1.3;
}
#bio {
	text-align: center;
	padding: 15px;
	font: 15px;
}
#menu {
	list-style: none;
	font-family: 'Antonio';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  font-family: url("https://fonts.gstatic.com/s/antonio/v1/gNMbW3NwSYq_9WD34ngK5F8vR8T0PVxx8CtPaWE.woff2") format('woff2');
	position: relative;
	top: -16px;
	z-index: 9000000000;
	cursor: pointer;
	background-color: rgba(250, 250, 250, 0.5);
	padding: 10px;
}
.link {
	display: inline;
	padding: 5px;
	color: #414141;
	font-size: 20px;
}
iframe {
	border: none;
	margin-top: 35px;
}
a {
	color: #007bff;
	text-decoration: none;
}
a:visited {
	color: #007bff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #007bff;
}
.link a {
	color: black;
}
.link a:hover {
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}